* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* header and navigation style */
.text-primary {
  color: #fd6e0a;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav li {
  list-style: none;
  margin-left: 50px;
  font-size: 20px;
}
nav ul {
  display: flex;
  align-items: center;
}
.btn-primary {
  background: #fd6e0a;
  color: antiquewhite;
  font-weight: 700;
  font-size: 20px;
  border: none;
  height: 64px;
  border-radius: 5px;
  padding: 18px 36px;
}

/* banner styles */
.banner-container {
  margin: 0 200px;
  align-items: center;
  display: flex;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-subtitle {
  ont-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-para {
  color: #757575;
  margin-bottom: 30px;
}
.c-button {
  border: 1px solid orange;
  height: 64px;
  border-radius: 5px;
  padding: 18px 36px;
  font-weight: 700;
  font-size: 20px;
  margin-left: 30px;
}
header {
  background: #fff8f3;
  background-image: url("/images/header_bg.png"), url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
/* About styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 155px;
}
.about-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.about-description {
  color: #757575;
  margin-bottom: 30px;
  text-align: center;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info .info-title {
  color: #757575;
  font-size: 20px;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* what i do section */
.section-title {
  margin-top: 130px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.what-para {
  text-align: center;
  margin-top: 30px;
  color: #757575;
  font-size: 18px;
}
.skills-container {
  display: flex;
  gap: 24;
  margin-top: 50px;
}
.skill-name {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 20px;
  margin-bottom: 30px;
}
.skill-description {
  font-size: 16px;
  color: #757575;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
/* Resume styles */
.resume-item {
  margin-top: 30px;
}
.resume-container {
  display: flex;
  margin-top: 113px;
  gap: 35px;
}
.resume-title h3 {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
}
.title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
}
.sub-title {
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}
.description {
  margin-bottom: 50px;
}
.resume-btn {
  text-align: center;
  margin-bottom: 113px;
}

/* footer styles */
footer {
  background: #fff8f3;
}
.contact-container {
  display: flex;
  gap: 117px;
  justify-content: center;
  padding: 130px 340px;
}
.contact-container h3 {
  font-weight: 700;
  font-size: 35px;
}
.contact-container p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-container a {
  text-decoration: none;
  padding: 10px;
}
.contact-btn {
  background: #fd6e0a;
  height: 60px;
  width: 150px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}
input {
  
  width: 461px;
  height: 64px;
  margin-bottom: 24px;
  border:none;
 
}
textarea {
  width: 461px;
  height: 180px;
  border:none;
  
}

